doctype
html
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title GIF 채팅방
    body 
        div console 로그 확인
        script(src='/socket.io/socket.io.js')
        script.
            var socket = io.connect("http://127.0.0.1:8005", {
                path:'/socket.io',
                transports: ['websocket']
            });
            socket.on('news', function(data){
                console.log(data);
                socket.emit('reply', 'Hello Node.js')
            });